<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.vinstallment"
    xmlns:tools="http://schemas.android.com/tools">


    <uses-permission android:name="com.example.remote.permission.ACCESS_REMOTE_SERVICE"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.MANAGE_DEVICE_POLICY_PACKAGE_STATE"/>
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />
    <uses-permission android:name="android.permission.MANAGE_DEVICE_POLICY_SUPPORT_MESSAGE"/>
    <uses-permission android:name="android.permission.REQUEST_DELETE_PACKAGES" />
    <application
        android:name=".App.App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_logo_vinstallment"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.VInstallment"
        tools:targetApi="31">
        <activity
            android:name=".Activity.MainActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.GetProvisioningModeActivity"
            android:exported="true"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <intent-filter>
                <action android:name="android.app.action.GET_PROVISIONING_MODE" />
                <action android:name="android.app.action.ADMIN_POLICY_COMPLIANCE" />
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <service
            android:name=".Service.AIDLVInstallmentService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.example.vinstallment.IVInstallmentInterface"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </service>
        <service
            android:name=".Service.OneDayAfterService"
            android:exported="false"/>
        <service
            android:name=".Service.ThreeDaysAfterService"
            android:exported="false"/>
        <receiver
            android:name=".Receiver.DeviceAdminReceiver"
            android:exported="true"
            android:description="@string/app_name"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/device_admin_receiver"/>
            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED"/>
                <action android:name="android.app.action.PROFILE_PROVISIONING_COMPLETE"/>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.app.action.PROFILE_OWNER_CHANGED"/>
                <action android:name="android.app.action.DEVICE_OWNER_CHANGED"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".Receiver.ReminderReceiver" android:exported="true" android:enabled="true">
            <intent-filter>
                <action android:name="com.example.vinstallment.Receiver.ReminderReceiver"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".Receiver.OneDayAfterReceiver" android:exported="true">
            <intent-filter>
                <action android:name="com.example.vinstallment.Receiver.OneDayAfterReceiver"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".Receiver.TwoDayAfterReceiver" android:exported="true">
            <intent-filter>
                <action android:name="com.example.vinstallment.Receiver.TwoDayAfterReceiver"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".Receiver.ThreeDayAfterReceiver" android:exported="true">
            <intent-filter>
                <action android:name="com.example.vinstallment.Receiver.ThreeDayAfterReceiver"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".Receiver.ClearPunishmentReceiver" android:exported="true">
            <intent-filter>
                <action android:name="com.example.vinstallment.Receiver.ClearPunishmentReceiver"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".Receiver.CicilanLunasReceiver" android:exported="true">
            <intent-filter>
                <action android:name="com.example.vinstallment.Receiver.CicilanLunasReceiver"/>
            </intent-filter>
        </receiver>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>